*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.search {
  display: inline-block;
  background-color: #fff; }
  .search__input {
    display: inline-block;
    height: 3.8rem;
    width: 20rem;
    transition: all .3s;
    font-size: 1.5rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #2998ff; }
    .search__input:focus {
      outline: none;
      width: 30rem; }
  .search__btn {
    border: none;
    display: inline-block;
    padding: .5rem;
    height: 3.8rem;
    width: 3.8rem;
    background-color: #2998ff;
    color: white; }
    .search__btn:focus {
      outline: none; }

.categories {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  transition: all .3s; }
  .categories:target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .categories__card {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10rem;
    width: 80%; }
  .categories__list {
    list-style: none; }
  .categories__item {
    display: block;
    width: 20rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    transition: all .3s; }
    .categories__item:not(:last-child) {
      border-bottom: 1px solid #fff; }
    .categories__item:hover {
      transform: scale(1.5);
      text-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
      z-index: 100; }
  .categories__link:link, .categories__link:visited {
    text-decoration: none;
    color: #fff; }

.row {
  max-width: 160rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem * 2))/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) /4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (6rem * 3)) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (6rem * 3)) /4) + (2 * 6rem)); }

.nav {
  background-color: #f7f7f7;
  font-size: 2rem;
  height: 8rem;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1); }
  .nav__content {
    position: relative;
    padding: 2rem 5rem; }
  .nav__left {
    display: inline-block;
    width: 67%; }
  .nav__right {
    display: inline-block;
    width: 30%; }
  .nav__list {
    display: inline-block;
    list-style: none; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 2rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: transparent;
    padding: 1rem;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    background-clip: text;
    -webkit-background-clip: text; }
  .nav__link:hover {
    color: #777; }

.recipe {
  margin-top: 5rem; }
  .recipe__img {
    width: 100%; }
  .recipe__ingredients ul {
    display: block;
    font-size: 1.6rem;
    padding: 0 4rem; }
