.nav {
    background-color: $color-primary;
    font-size: 2rem;
    height: 8rem;
    box-shadow: 0 1rem .5rem rgba($color-black, 0.1);

    &__content {
        position: relative;
        padding: 2rem 5rem;
    }

    &__left {
        display: inline-block;
        width: 67%;
    }

    &__right {
        display: inline-block;
        width: 30%;
    }

    &__list {
        display: inline-block;
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: transparent;
            padding: 1rem;
            background-image: linear-gradient(
                to right,
                $color-tertiary-light,
                $color-tertiary-dark);
            background-clip: text;
            -webkit-background-clip: text;
        }

        &:hover{
            color: $color-grey-dark;
        }

    }
}