.recipe {
    margin-top: 5rem;
    
    &__img{
        width: 100%;
    }

    &__ingredients {
        ul {
            display: block;
            // list-style-type: ;
            font-size: 1.6rem;
            padding: 0 4rem;

            li {

            }
        }
    }
}