//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//colors
$color-primary: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;
$color-white: #fff;


//Grid
$grid-width: 160rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font 
$default-font-size: 1.6rem;