.categories {
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: all .3s;

    &:target{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        width: 100%;
        background-color: rgba($color-black, 0.3); 
    }


    &__card {
        background-image: linear-gradient(
            to right bottom, 
            $color-tertiary-light, 
            $color-tertiary-dark);
        position: absolute;
        display: table;
        @include absCenter;
        padding: 10rem;
        width: 80%;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: block;
        width: 20rem;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem 0;
        margin: 0 auto;
        transition: all .3s;

        &:not(:last-child){
            border-bottom: 1px solid $color-white;
        }

        &:hover {
            transform: scale(1.5);
            text-shadow: 0 .3rem 2rem rgba($color-black, 0.1);
            z-index: 100;
        }

    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
        }
    }
}