.search {

    display: inline-block;
    background-color: $color-white;

    &__input {
        display: inline-block;
        height: 3.8rem;
        width: 20rem;
        transition: all .3s;
        font-size: 1.5rem;
        font-weight: 400;
        padding: .5rem 1rem;
        border: none;
        background-color: rgba($color-white, 0.5);

        // border-top: 1px solid $color-tertiary-light;
        // border-left: 1px solid $color-tertiary-light;
        // border-bottom: 1px solid $color-tertiary-light;
        // border-right: 1px solid $color-tertiary-light;
        border: 1px solid $color-tertiary-light;

        &:focus {
            outline: none;
            width: 30rem;
        }
    }

    &__icon {

    }

    &__btn{
        border: none;
        display: inline-block;
        padding: .5rem;
        height: 3.8rem;
        width: 3.8rem;
        background-color: $color-tertiary-light;
        color: white;

        &:focus {
            outline: none;
        }
    }
}