body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-secondary {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}